name: Rerender PDFs

on:
  push:
    branches: master
  pull_request:
    branches: master

  workflow_dispatch:

jobs:
  render_summary:
    runs-on: ubuntu-latest

    steps:
      - name: Set up Git repository
        uses: actions/checkout@v2

      - run: sudo apt-get update

      - name: install svg to png
        run: sudo apt-get install librsvg2-bin

      - name: create list of all .md files nested material
        id: files_list
        run: |
          cd material
          echo "files=$(find . -name '*.md' | sort | sed 's/^\.\///' | sed 's/\//\\\//g' | sed ':a;N;$!ba;s/\n/ /g')" >> $GITHUB_ENV

      - name: print all files
        run: echo compiling ${{ env.files }}

      - name: create docs folder if not exists
        run: mkdir -p docs

      - name: compile and merge summary
        uses: docker://pandoc/latex:2.9
        with:
          args: -V documentclass=report -V classoption=oneside -V geometry:vmargin=14.5mm -V lang:de --fail-if-warnings --output=docs/summary.pdf ${{ env.files }}

      - uses: actions/upload-artifact@master
        with:
          name: summary.pdf
          path: docs/summary.pdf

  render_slides:
    runs-on: ubuntu-latest

    steps:
      - name: Set up Git repository
        uses: actions/checkout@v2

      - name: install pdftk
        run: sudo apt-get install pdftk

      - name: create docs folder if not exists
        run: mkdir -p docs

      - name: merge
        run: pdftk material/**/w*.pdf cat output docs/slides.pdf

      - uses: actions/upload-artifact@master
        with:
          name: slides.pdf
          path: docs/slides.pdf

  push_merged_pdfs:
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    needs: [render_summary, render_slides]

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@master

      - name: delete old pdfs if exists
        run: rm -f docs/*.pdf

      - uses: actions/download-artifact@master
        with:
          name: slides.pdf
          path: docs

      - uses: actions/download-artifact@master
        with:
          name: summary.pdf
          path: docs

      - name: Commit files
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add docs/*.pdf -f
          git commit -m "Update PDFs"

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: master
